
.container {
    width: 1440px;
    margin: auto;
    margin:0%;


}


nav {
    width: 1440px;
    height: 96px;
    gap: 0px;
    opacity: 0px;

}


nav img {
    margin-left: 80px;
    margin-top: 29px;
}

nav .left-side {
    float: left;
    width: 630px;
}

nav .right-side {
    float: left;
    width: 724px;
    margin-top: 34px;
}

nav .top-nav-menu {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #616D78;
    margin-right: 20px;

}

nav .top-nav-menu-button {
    width: 175px;
    height: 50px;
    padding: 14px 15px 14px 15px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #27678A;
    opacity: 0px;
    font-family: Poppins;
    color: #27678A;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 23px;
    background: white;
}

.hero{
    height:800px;
    background-image:url(../image/hero-background.png);
}

.hero .hero-left{
    width: 786px;
height: 428px;
margin-left: 80px;
float: left;
}

.hero .hero-right{
    width: 477px;
float: left;
}

.hero .hero-left h1{
    /*background: linear-gradient(180deg, #27678A 14.3%, rgba(0, 107, 165, 0.507971) 50.77%, #29224A 85.66%);*/
    background: -webkit-gradient(linear, left top, left bottom, from(#27678A),
     to(#29224A)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;

font-family: Poppins;
font-size: 64px;
font-weight: 700;
line-height: 86px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


}

.hero p{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #85919D;
width: 503.93px;
}
.second-box{
width:100%;
height:1,090px;
padding-top: 90px;
margin:40px;



}
.second-box-positioning1{
display: flex;


}
.text h1{
width: 543px;
height: 60px;
font-family: Poppins;
font-size: 40px;
font-weight: 600;
line-height: 60px;
color: rgba(39, 103, 138, 1);
margin:40px;



}

.text  p{
width: 543px;
height: 60px;
font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
color: rgba(133, 145, 157, 1);
margin:40px;



}
.second-box img{
    width: 628px;
    height: 465px;


}
.second-box-positioning2{
    padding-top:100px;
    display: flex;
    
}
.Third-image-section{
background-image: url(../image/adv.png);
 width: 100%;
height: 571px;
margin-top: 80px;


}
.Third-image-section   h1{
width: 1062px;
height: 192px;
padding-top: 107px;
padding-left: 188px;
font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 48px;
text-align: left;
color: rgba(255, 255, 255, 1);

}
.Third-image-section  p{
width: 729px;
height: 54px;
padding-top: 30px;
padding-left: 188px;
font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align:left;
color: rgba(221, 224, 227, 1);

}

.bottom-button {
    width: 301px;
    height: 50px;
    padding: 14px 20px 14px 20px;
    border-radius: 5px;
    border: 2px solid;
    border-color:#F8F9F9;
    opacity: 0px;
    font-family: Poppins;
    color: #FFFFFF;
    display: inline-block;
    box-sizing: border-box;
    top: 23px;
    background-color:#7A8890;
    margin-left:188px;
    text-align: center;
}


.Fourth-image-section{
width: 1280px;
height: 460px;
top: 2958px;
left: 80px;
border-radius: 24px 0px 0px 0px;
margin:15px;

}
.Fourth-image-section  h4{
width: 100%;
height: 60px;
top: 2958px;
left: 472px;
font-family: Poppins;
font-size: 40px;
font-weight: 600;
line-height: 60px;
text-align: center;
color:rgba(39, 103, 138, 1);



}

.image-box {
    Width:411px;
    Height:345px;
    border-radius: 24px;
    float:left;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;

    

}
.text-block{
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }


.gradientcolor{
    background: -o-linear-gradient(#0C1E29)0%, 100%;

}
.image-box .first{
background-image:url(../image/familyimg.png);
float:left;

}


  
 .image-box h3{
font-family: Poppins;
font-size: 24px;
font-weight: 600;
line-height: 10px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:#FFFFFF;
 }

.image-box p{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #BBC1C8;

}



.image-box  .second{
    background-image:url(../image/coin.png);
    float:left;
    
    }

    .image-box  .third{
        background-image:url(../image/trees.png);
        float:left;
        }

        .Fifth-image-section{
            background-image: url(../image/map.png);
            width: 1440px;
        height: 690px;
        margin-top: 300px;
        gap: 0px;
        opacity: 0px;
        float: left;
        position: relative;
        
        }
        .multicolored-frame{
        background-image: url(../image/multicolored-frame.png);
        position:absolute;
        margin-right:60px;
        margin-top:-80px;
        width: 543px;
        height: 535px;
        border-radius: 16px 10px 16px 10px;
        padding-top: 50px;
        margin-left: 650px;
        
        
        
        }
        .border-style{
            max-width: 350px;
            height:15px;
            padding:10px;
            margin: 0 0 22px 0;
            border:1px solid rgba(233, 243, 249, 1);
            background-color: rgba(147, 197, 224, 0.16);
            margin-left: 80px;
            border-radius: 4px;
        }
        .bold-text{
        width: 288px;
        font-family: Mulish ;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-left: 86px;
        color:rgba(233, 243, 249, 1);
    
        
        }
        
        
        .border-style2{
            max-width: 350px;
            height:50px;
            padding:10px;
            margin: 15px 0 22px 0;
            border:1px solid rgba(233, 243, 249, 1);
            margin-left:80px;
            background-color: rgba(147, 197, 224, 0.16);
            border-radius: 4px;
        }
        
        
          
        
        
        .btn p{
            font-family: poppins;
          width:108px;
        height:41px;
        margin-left: 300px;
        padding: 12px 18px 12px 18px;
        border-radius: 4px;
        border:1px solid rgba(233, 243, 249, 1);
        margin-top:120px;
        color:rgba(233, 243, 249, 1);
        background-color: rgba(147, 197, 224, 0.16);
        }
        .Fifth-image-section  h4{
        font-family: Poppins;
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        text-align: left;
        color: rgba(39, 103, 138, 1);
        width: 246px;
        height: 20px;
        margin-top: 480px;
        padding-left: 65px;
        
        }
        .socials-text b{
        padding-left: 35px;
        padding-right: 15px;
        
        }
        .contact  b{
        padding-left:5px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: rgba(94, 106, 113, 1);
        padding-top:5px;
        display:inline-block;
        
        
        
        }
        .Fifth-image-section img{
            width:40px; 
            height:40px;
            padding-left:12px;
            padding-top: 10px;
            margin:15
            
        }
        .Sixth-image-section{
        background-color: rgba(29, 77, 103, 1);
        width: 100%;
        height: 327px;
        padding-top: 20px;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    
        
        
        }
        .Sixth-image-section  img{
        width: 101px;
        height: 37px;
        margin-left:79px;
        
        }
        .Sixth-image-section  h2{
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            text-align:left;
            color:rgba(255, 255, 255, 1);
            
            
            
        
        
            
        
        }
        .Sixth-image-section  p{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align:left;
        color: rgba(190, 220, 237, 1);
        
        
        
        
        }
        .left-side2{
            width:300px;
            float:left;
        }
        
        nav .right-side2 {
            float: left;
            width: 724px;
            margin-top: 20px;
        }
    
    
        
        .Sixth-image-section   .column {
            float: left;
            width: 150px;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
          }
          
          /* Clear floats after the columns */
        .Sixth-image-section  .row:after {
            content: "";
            display: table;
            clear: both;
          }
          .Seventh-image-secton {
        width: 100%;
        height: 61px;
        background-color: rgba(24, 64, 86, 1);
        margin:0%;
        float: left;
        
        
        }





          .foot{
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            padding-left: 520px;
            color: rgba(233, 243, 249, 1);
            float: left;
            
            
            }
             .hero2{
                background-image: url(../image/hero2.png);
                width:1440px;
                height: 800px;
                float:left;
                overflow-x:visible;
                overflow-y:visible;
              }
            
               


            }
    